* {
    background:         #3B414C;
    background-alt:     #3B414C;
    foreground:         #FFFFFF;
    border:             #3B414C;
    selected:           #474E5D;
    urgent:             #FFFFFF;
    logo:               #84B1C0;
}
